<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap/bootstrap.css')}}">
    <title>RECIPE | ADD</title>
</head>
<body class="bg-dark">
    <div class="container bg-light p-5 mt-5">
        <div class="card">
            <div class="card-header bg-secondary text-dark">
                <h1>Add a New Recipe!</h1>
                <p><a class="link-light card-link" href="/recipes">Back to recipes</a></p>
                <p><a class="link-light card-link" href="/logout">Logout</a></p>
                {% with errors = get_flashed_messages(category_filter=["recipe"]) %}
                {% if errors %}
                <div class="container col-10 mt-3 mb-4">
                    <ul class="flashes list-group">
                        {% for msg in errors %}
                        <li class="list-group-item list-group-item-danger"> {{ msg }} </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% endwith %}
            </div>
            <div class="card-body p-3 ">
                <form action="/recipe/insert" method="post">
                    <input type="hidden" name="user_id" value="{{ session['user_id'] }}">
                    <div class="card-group">

                        <div class="card p-3">
                            <label class="form-label" for="recipe_name">Name</label>
                            <input class="form-control" type="text" name="recipe_name" value="{{ session['recipe_name'] }}">
                            
                            <div class="form-floating mt-3 ">
                                <textarea class="form-control" name="recipe_description" value="">{{ session['recipe_desc'] }}</textarea>
                                <label class="form-label" for="recipe_description">Description</label>
                            </div>
                            
                            <div class="form-floating mt-3 ">
                                <textarea class="form-control " name="recipe_instructions" value="">{{ session['recipe_inst'] }}</textarea>
                                <label class="form-label" for="recipe_instructions">Instructions</label>
                            </div>
                        </div>

                        <div class="card p-3">
                            <label class="form-label" for="recipe_cooked_on">Date Cooked</label>
                            <input class="form-control mb-3" type="date" name="recipe_cooked_on" value="">

                            <label class="form-label" for="recipe_under_30">Prepped in Under 30?</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="recipe_under_30" value="1">
                                <label class="form-check-label" for="recipe_under_30">Yes</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="recipe_under_30" value="0" checked="">
                                <label class="form-check-label" for="recipe_under_30">No</label>
                            </div>
                            <input class="btn btn-md btn-primary col-4 mt-5" type="submit" value="Create Recipe">
                        </div>  
                    </div>
                    
                </form>
            </div>
            <div class="card-footer mt-2">
                <p><a class="link card-link" href="/recipes">Back to recipes</a></p>
                <p><a class="link card-link" href="/logout">Logout</a></p>
            </div>
        </div>
    </div>
</body>
</html>